header {
    display: flex;
    font-size: 65px;
    justify-content: center;
    align-content: center;
}

header img {
    display: none;
}

body {
    display: flex;
    flex-flow: column;
    padding: 10px;
    font-family: sans-serif;
    background-color: beige;
    margin: auto;
    text-align: center;
}

nav button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #SSS;
}

nav button:hover:not(.active) {
    background-color: lightgreen;
    color: white;
    justify-content: center;
}

nav {
    display: inline-flex;
    flex-flow: column;
    background: #bdb;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: block;
}

nav ul li a {
    display: inline-flex;
    color: black;
    padding: 14px 38px;
    text-decoration: none;
    font-size: .9em;
    justify-content: center;
}

nav ul li a:hover:not(.active) {
    background-color: lightgreen;
    color: white;
    justify-content: center;
    width: 96%;
}

nav ul.hide {
    display: none;
}

section ul {
    display: grid;
    grid-gap: 0.5em;
    list-style-type: none;
}

section img {
    width: 100%;
    height: auto;
}

section img:hover:not(.active) {
    box-shadow: 5px 5px 5px grey;
}

.description{
    text-align: center;
}

footer {
    padding: 5px;
    text-align: center;
    padding-bottom: 15px;
}
