header {
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-content: center;
}

header img {
    display: none;
}

h2 {
    text-align: center;
}

body {
    display: inline-flex;
    flex-flow: column;
    padding: 10px;
    align-items: center;
    font-family: sans-serif;
    background-color: beige;
    border: 3px solid;
}

section img {
    width: 100%;
}

header,
nav,
main,
footer {
    max-width: 100%;
    text-align: center;
}

nav button {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

nav button:hover:not(.active) {
    background-color: lightgreen;
    color: white;
    justify-content: center;
}

nav { 
    display: flex;
    flex-flow: column;
    background: #bdb;
    width: 100%;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li a {
    display: inline-flex;
    color: black;
    text-align: center;
    padding: 14px 38px;
    text-decoration: none;
    font-size: .9em;
}

nav ul li a:hover:not(.active) {
    background-color: lightgreen;
    color: white;
    justify-content: center;
}

nav ul.hide {
    display: none;
}

.under-nav {
    max-width: inherit;
}

.current {
    text-decoration-line: underline;
    font-size: 24px;
}

main figure {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    margin: 0 0 0 0%;
}

main figure img {
    width: 100%;
}

main figure figcaption {
    text-align: center;
    font-size: .75rem;
}

main article {
    padding: .25rem;
    text-align: center;
}

main article img {
    width: 100%;
    height: auto;
}

footer {
    padding: 5px;
    text-align: center;
    padding-bottom: 15px;
}

#windchill {
    font-size: 14px;
    text-align: center;
    color: blue;
}

/*------Form Style------*/

form fieldset {
    margin: 2rem 0;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    margin: 0 1rem;
}

form label.top {
    display: block;
    text-align: left;
}

form label.top input,
form label.top textarea,
form label.top select {
    display: block;
    width: 100%;
    background-color: #bcb;
}

form label.dot {
    display: block;
    text-align: left;
}

form .subButton {
    border: none;
    background-color: #bdb;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
}

form .subButton:hover:not(.active) {
    background-color: lightgreen;
    color: white;
    justify-content: center;
}

form label.top input:required {
    box-shadow: .5px .5px .5px #D46A6A;
}

form label.top input:required:valid {
    box-shadow: 1px 1px 1px #bcb;
}

@media only screen and (max-width: 37.5em) {
    #primaryNav.hide {}
}

/*Class selectors*/

.weather-summary {
    margin-top: 35px;
    flex-flow: column wrap;
    border: 3px solid black;
    background: #bdb;
    font-size: 20px;
    border-radius: 10px;
}

.weather-summary img {
    width: 96%;
}

.forecast {
    display: none;
}

.gallery {
    list-style: none;
    display: grid;
    grid-gap: 0.5em;
}

.content-storm {
    display: flex;
}
