@media only screen and (min-width: 1080px) {

    nav ul.hide {
        display: block;
    }
    .under-nav {
        width: 100%;
    }
    nav button {
        display: none;
    }
    nav ul li {
        text-align: center;
        display: inline-flex;
    }
    body {
        display: flex;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        max-width: 1030px;
        font-size: 14px;
        font-size: 14px;
        text-align: center;
    }
    #medium {
        display: none;
    }
    .current,
    .highlow,
    .conditions {
        margin-top: 40px;
        align-content: center;
    }
    main article img {
        max-width: 50%;
        display: inline;
    }

    .article {
        display: inline;
        max-width: 100%;
    }

    table,
    th,
    td {
        text-align: center;
        align-content: center;
        border: 1px solid #666;
        border-collapse: collapse;

    }

    h2 {
        font-size: 30px;
    }

    #small {
        display: none;
    }

    #large {
        display: block;
    }
    /*Class selectors*/
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery li {
        border: 2px solid;
        border-radius: 10px;
    }

    .gallery li:hover:not(.active) {
        box-shadow: 3px 3px 3px grey;
    }

    .index-large {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #index-heading {
        margin-bottom: 15px;
    }

    .index-large .weather-summary {
        display: flex;
        flex-flow: column;
        margin: 0;
        margin-left: 5px;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .index-large .left {
        width: 90%;
    }

    .index-large .right {
        width: 90%;
    }

}
