    /*Type of Fonts
*font-family: 'Indie Flower', cursive;
*font-family: 'Shadows Into Light', cursive;
*font-family: 'Chonburi', cursive;
*font-family: 'Dancing Script', cursive;
*font-family: 'Cormorant Unicase', serif;
*font-family: 'Gloria Hallelujah', cursive;
**/


    /*This is the regular page content. */

    * {
        margin: 0px;
        padding: 0px;
    }

    html {
        background-color: #1b3c59;
    }

    body {
        display: flex;
        flex-flow: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }


    h1 {
        font: bold 40px 'Indie Flower', cursive;
        margin-bottom: -15px;
    }

    h2 {
        font: bold 30px 'Indie Flower', cursive;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: #092a35;
    }

    footer {
        font-size: 16px;
        padding: 10px;
        border-top: 2px solid;
        margin: 10px 0px 0px 0px;
    }







    /*This is where all of the id selectors for index.html are held */

    #more-options {
        background-color: transparent;
        border: none;
        border-left: solid #092a35;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        font-size: 25px;
    }

    #more-options:hover {
        background-color: darkslategray;
    }

    #content {
        display: flex;
        flex-flow: column;
        margin: 20px auto;
        text-align: center;
        box-shadow: 5px 5px 5px 5px;
        background-color: #456170;
    }

    #logo {
        display: flex;
        height: 60px;
    }

    #reg-nav {
        position: absolute;
        flex-flow: column;
        width: 100%;
        margin-top: 60px;
        background-color: #658525;
        list-style: none;
    }

    #reg-nav li {
        font-size: 20px;
        border: 2px solid #092a35;
    }

    #reg-nav li:hover {
        background-color: darkslategray;
        color: #092a35;
        font-weight: bold;
    }


    /*This is where all of the class selectors for index.html are held */

    .nav {
        font-family: 'Indie Flower', cursive;
    }

    .container {
        display: flex;
        background-color: #658525;
        border: solid #092a35;
    }

    .hide {
        display: none;
    }

    .article-content img {
        display: inline-flex;
        flex-flow: column;
        max-width: 400px;
        width: 100%;
        align-content: center;
        border-radius: 10px;
    }

    .article-content img:last-child {
        margin-bottom: 25px;
    }

    .article-content img:hover {
        box-shadow: 5px 5px 5px 5px;
    }

    .article-first {
        font-size: 25px;
    }

    .article-container {
        display: flex;
    }

    .article-written {
        width: 100%;
    }

    .active a {
        color: antiquewhite;
    }

    /*Adventure class selectors*/

    .tour1-info {
        margin: 20px 5px 20px 15px;
    }

    .tour2-info {
        margin: 20px 5px 20px 15px;
    }

    .article-content-adventure {
        display: flex;
        flex-flow: column;
        border-top: solid;
        margin: 20px 20px 0px 20px;
    }

    .article-head-tour {
        margin-bottom: 10px;
    }
