<<<<<<< HEAD
.active {
    box-shadow: 5px 5px 5px #C4A1C2;
}

.navbar-nav li:hover {
    background-color: lightgray;
=======
/*This is the regular page content. */
body {
    margin-top: 50px;
}












/*This is where all of the id selectors for index.html are held */
#logo{
    height: 100px;
}

/*This is where all of the class selectors for index.html are held */
.nav {
    display: flex;
    justify-content: center;
}

.container {
    display: inline-flex;
    border: 
}

.nav-right,
.reg-nav {
    display: flex;
    list-style: none;
    border: solid;
}

.reg-nav li,
.nav-right li{
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reg-nav li:hover {
    background-color: mediumpurple;
>>>>>>> 9434066618d69bfece38f779e410598960181d44
}
