@media only screen and (min-width: 37.5em) {

    body {
        padding: 15px;
        display: inline-block;
        font-size: 18px;
    }
    #small {
        display: none;
    }
    #medium {
        display: block;

    }



    picture {
        box-shadow: 3px 3px 3px #bbb;
        margin-bottom: 5px;
    }


    /* hamburger button does not need to be shown in the medium on up views */
    section.forecast {
        display: block;
    }



    #article-title {
        display: inline-block;
        font-size: 30px;
        text-decoration: overline underline;
    }

    .weather-summary {
        display: inline-block;
        border: 3px solid black
    }

    .article {}

    main article img {
        width: 50%;
        float: right;
        margin: 7px;
        box-shadow: 3px 3px 3px #bbb;
    }

    main article p {
        font-size: 18px;
    }

    picture {
        padding-left: 10px;
        width: 50%;
        float: left;
    }

    table,
    th,
    td {
        text-align: center;
        align-content: center;
        border: 1px solid #666;
        border-collapse: collapse;
    }

    table {
        border-top: 10px solid #666;
        width: 100%;
        display: inline-table
    }

    footer {
        border-top: 5px solid #666;
        width: 100%;
        display: inline-block;
        border-bottom: 5px solid #666;

    }

}
