@media only screen and (min-width: 37.5em) and (max-width: 1023px) {

    body {
        padding: 15px;
        font-size: 18px;
    }
    header img {
        display: flex;
        height: 144px;
    }
    section ul {
        grid-template-columns: 1fr 1fr;
    }
    section img {
        width: 100%;
        height: auto;
    }
    footer {
        border-top: 5px solid #666;
        width: 100%;
        display: inline-block;
        border-bottom: 5px solid #666;

    }

}
